ii  libavahi-client3:amd64               0.8-13ubuntu6                           amd64        Avahi client library
ii  libavahi-common-data:amd64           0.8-13ubuntu6                           amd64        Avahi common data files
ii  libavahi-common3:amd64               0.8-13ubuntu6                           amd64        Avahi common library
ii  libavc1394-0:amd64                   0.5.4-5build3                           amd64        control IEEE 1394 audio/video devices
ii  libavcodec-dev:amd64                 7:6.1.1-3ubuntu5                        amd64        FFmpeg library with de/encoders for audio/video codecs - development files
ii  libavcodec60:amd64                   7:6.1.1-3ubuntu5                        amd64        FFmpeg library with de/encoders for audio/video codecs - runtime files
ii  libavdevice60:amd64                  7:6.1.1-3ubuntu5                        amd64        FFmpeg library for handling input and output devices - runtime files
ii  libavfilter9:amd64                   7:6.1.1-3ubuntu5                        amd64        FFmpeg library containing media filters - runtime files
ii  libavformat-dev:amd64                7:6.1.1-3ubuntu5                        amd64        FFmpeg library with (de)muxers for multimedia containers - development files
ii  libavformat60:amd64                  7:6.1.1-3ubuntu5                        amd64        FFmpeg library with (de)muxers for multimedia containers - runtime files
ii  libavutil-dev:amd64                  7:6.1.1-3ubuntu5                        amd64        FFmpeg library with functions for simplifying programming - development files
ii  libavutil58:amd64                    7:6.1.1-3ubuntu5                        amd64        FFmpeg library with functions for simplifying programming - runtime files
ii  libgtk-3-0t64:amd64                  3.24.41-4ubuntu1.2                      amd64        GTK graphical user interface library
ii  libgtk-3-bin                         3.24.41-4ubuntu1.2                      amd64        programs for the GTK graphical user interface library
ii  libgtk-3-common                      3.24.41-4ubuntu1.2                      all          common files for the GTK graphical user interface library
ii  libgtk-4-1:amd64                     4.14.2+ds-1ubuntu1                      amd64        GTK graphical user interface library
ii  libgtk-4-bin                         4.14.2+ds-1ubuntu1                      amd64        programs for the GTK graphical user interface library
ii  libgtk-4-common                      4.14.2+ds-1ubuntu1                      all          common files for the GTK graphical user interface library
ii  libgtk-4-dev:amd64                   4.14.2+ds-1ubuntu1                      amd64        development files for the GTK library
ii  libgtk-4-media-gstreamer             4.14.2+ds-1ubuntu1                      amd64        GStreamer media backend for the GTK graphical user interface library
ii  libpulse-dev:amd64                   1:16.1+dfsg1-2ubuntu10                  amd64        PulseAudio client development headers and libraries
ii  libpulse-mainloop-glib0:amd64        1:16.1+dfsg1-2ubuntu10                  amd64        PulseAudio client libraries (glib support)
ii  libpulse0:amd64                      1:16.1+dfsg1-2ubuntu10                  amd64        PulseAudio client libraries
ii  libswresample-dev:amd64              7:6.1.1-3ubuntu5                        amd64        FFmpeg library for audio resampling, rematrixing etc. - development files
ii  libswresample4:amd64                 7:6.1.1-3ubuntu5                        amd64        FFmpeg library for audio resampling, rematrixing etc. - runtime files
ii  libswscale-dev:amd64                 7:6.1.1-3ubuntu5                        amd64        FFmpeg library for image scaling and various conversions - development files
ii  libswscale7:amd64                    7:6.1.1-3ubuntu5                        amd64        FFmpeg library for image scaling and various conversions - runtime files
